<!DOCTYPE html>
<html><head></head><body>
<form action="/candles" method="POST">
    <%=$number%>
    How many candles do you want?
    <input type="number" name="number">
    <input type="submit" value="Send">
  </form>
</body></html>